#main-menu {
  #main-menu-logo {
    align-items: center;
    display: flex;
    font-size: 1.25em;
    justify-content: center;
    text-shadow: 0px 0px 1px rgba(black, 0.25);
  }

  #main-menu-content {
    background-color: gray(30);
    border-radius: 6px;
    box-shadow: $shadow3;
    margin-top: 10px;
    padding: 10px;

    #main-menu-toolbar {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding-left: 10px;
    }

    #main-menu-header {
      display: flex;
      width: 100%;

      .profile-header {
        width: 100%;
      }
    }

    #main-menu-body {
      .main-menu-body-section {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;

        &:nth-child(n + 2) {
          border-top: 1px solid rgba(white, 0.05);
          padding-top: 10px;
        }

        .button,
        .link {
          background-color: transparent;
          font-size: 1em;

          &:hover,
          &:focus {
            background-color: rgba(white, 0.05);
            color: $themeColor;
          }
        }

        .main-menu-option {
          align-items: center;
          border-radius: 6px;
          cursor: pointer;
          display: flex;
          gap: 1em;
          outline: none;
          padding: 10px;
          text-decoration: none;

          &:hover,
          &:focus {
            background-color: rgba(white, 0.1);
          }

          .main-menu-option-icon {
            background-color: rgba(white, 0.1);
            border-radius: 100px;
            color: white;
            flex-shrink: 0;
            height: 40px;
            line-height: 40px;
            text-align: center;
            width: 40px;
          }

          .main-menu-option-content {
            flex-grow: 1;
            text-align: left;

            .main-menu-option-label {
              color: white;
            }

            .main-menu-option-description {
              color: gray(200);
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
}