#profile-panel {
  .settings-panel {  
    .settings-panel-sections {
      .settings-section {
        &.url-section,
        &.username-section {
          .settings-section-content {
            background-color: transparent;
            backdrop-filter: none;
            border: none;
            padding: 0px; 
          }
        }

        &.url-section {
          .url-section-actions {
            display: flex;
            gap: 10px;
            margin-top: 10px;

            .url-section-action {
              background-color: rgba(white, 0.05);
              font-size: 1em;
              padding: 10px;

              &:not(:disabled):hover,
              &:not(:disabled):focus {
                background-color: rgba(white, 0.1);
              }
            }
          }
        }

        &.photos-section {
          .settings-section-content {
            display: flex;
            gap: 1em;

            .photo-picker-toggle {
              flex-grow: 1;
              width: 50%;

              .photo-picker-toggle-button {
                height: 120px;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}