#sign-in-form {
  width: 100%;

  .sign-in-label,
  .reset-password-label {
    color: white;

    a {
      color: $themeColor;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .sign-in-label {
    margin-top: 1em;
  }
}