#background-picker {
  display: grid;
  grid-gap: 1em;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));  

  .background-picker-option {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    padding: 0px;

    &:hover,
    &:focus,
    &.selected {
      .loadable-image {
        transform: scale(1.1);
      }
    }

    &.selected {
      border-color: white;
    }

    .loadable-image {
      background-position: center;
      background-size: cover;
      height: 100px;
    }
  }
}