.getting-started-wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

  .getting-started {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 20px;
    pointer-events: all;
    position: relative;
    z-index: 2;

    .getting-started-step {
      color: white;
      font-size: 2em;

      .highlight {
        color: $themeColor;
      }
    }

    .link,
    .button {
      width: 200px;
    }
  }
}

@media (max-width: 600px) {
  .getting-started-wrapper {
    .getting-started {
      .getting-started-step {
        font-size: 1.5em;
      }
    }
  }
}

@media (max-height: 600px) {
  .getting-started-wrapper {
    height: auto;
    margin-top: 80px;
  }
}
