.getting-started-wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: auto;
  position: relative;
  width: 100%;
  z-index: 2;

  .getting-started {
    animation: fadeInDown 400ms ease-in;
    backdrop-filter: blur(5px);
    background-color: rgba(white, 0.1);
    border-radius: 6px;
    pointer-events: all;
    position: relative;
    width: 500px;
    z-index: 2;

    .getting-started-steps {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 10px;

      .getting-started-step {
        align-items: center;
        border-radius: 6px;
        display: flex;
        gap: 1em;
        padding: 10px;

        .highlight {
          color: $themeColor;
        }

        .getting-started-step-index {
          background-color: rgba(white, 0.1);
          border-radius: 100px;
          color: white;
          flex-shrink: 0;
          height: 40px;
          line-height: 40px;
          text-align: center;
          width: 40px;
        }

        .getting-started-step-label {        
          color: white;
        }

        .getting-started-step-description {
          color: gray(200);
          font-size: 0.8em;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .getting-started-wrapper {
    .getting-started {
      width: calc(100% - 20px);
    }
  }
}

@media (max-height: 600px) {
  .getting-started-wrapper {
    align-items: flex-start;
    
    .getting-started { 
      margin-bottom: 20px;
      margin-top: 80px;
    }
  }
}