.creator-grid-background {
  height: 100vh;
  left: 0px;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 1;

  .creator-grid-tiles {
    animation: fadeIn 400ms ease-in;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;   
    position: absolute;

    .creator-tile {
      background-color: rgba(white, 0.1);
      border-radius: 6px;
      flex-shrink: 0;
      opacity: 0.2;
      overflow: hidden;

      &.platform {
        .creator-tile-image {
          background-size: 50%;
        }
      }

      &.background {
        .creator-tile-image {
          background-size: cover;
        }
      }

      .creator-tile-image {
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 6px;
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media(max-width: 1600px) {
  .creator-grid-background {
    .creator-grid-tiles {
      .creator-tile {
        height: 30vh;
        width: 45vh;    
      }
    }
  }
}