.creator-grid-background {
  height: calc(100vh - 2em);
  left: 0px;
  padding: 1em;
  position: fixed;
  top: 0px;
  width: calc(100vw - 2em);
  z-index: 1;

  .creator-grid-tiles {
    display: grid;
    gap: 1em;   
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: 100%;
    width: 100%;

    .creator-tile {
      background-color: rgba(white, 0.1);
      border-radius: 6px;
      overflow: hidden;
      opacity: 0.25;

      .creator-tile-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 6px;
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media (max-width: 1600px) {
  .creator-grid-background {
    .creator-grid-tiles {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
}

@media (max-width: 800px) {
  .creator-grid-background {
    .creator-grid-tiles {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }
}