.social-platform-network {
  animation: fadeIn 400ms ease-in;
  height: 100vh;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 2;

  .vis-tooltip {
    background-color: gray(40);
    border: none;
    color: white;
  }
}