.auth-form-wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: auto;
  position: relative;
  right: 0px;
  width: 100%;
  z-index: 2;

  .auth-form {
    animation: fadeInDown 400ms ease-in;
    width: 500px;

    .auth-form-label-link {
      color: white;
      margin-top: 1em;

      a {
        color: $themeColor;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .auth-form-wrapper {
    align-items: flex-start;
    
    .auth-form {
      margin-top: 120px;
      padding: 0px 20px;
      padding-bottom: 20px;
      width: 100%;
    }
  }
}