.icon-button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  outline: none;
  padding: 0px;

  &:not(:disabled):hover {
    cursor: pointer;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    backdrop-filter: blur(3px);
    background-color: rgba(white, 0.05);

    i {
      color: $themeColor;
    }
  }

  i {    
    color: white;
    font-size: 1em;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
  }
}