.icon-button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  display: flex;
  gap: 8px;
  justify-content: center;
  outline: none;
  padding: 5px;

  &:not(:disabled):hover {
    cursor: pointer;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    backdrop-filter: blur(3px);
    background-color: rgba(white, 0.05);

    i, h1 {
      color: $themeColor;
    }
  }

  i, h1 {
    color: white;
    height: 20px;
    line-height: 20px;
  }

  i {    
    text-align: center;
    width: 20px;
  }

  .loading-icon {
    font-size: 1.25em;
  }
}

.icon-delete-button {
  &:not(:disabled):hover,
  &:not(:disabled):focus {
    i, h1 {
      color: $red;
    }
  }
}