.profile-photo {
  border-radius: 1000px;

  .loadable-image,
  i {
    border-radius: 1000px;
    height: 40px;
    width: 40px;
  }

  .loadable-image {
    background-position: center;
    background-size: cover;
  }

  i {
    background-color: rgba(black, 0.15);
    color: white;
    line-height: 40px;
    text-align: center;
  }
}

.profile-photo-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 0px;
}