.profile-photo {
  background-position: center;
  background-size: cover;
  border-radius: 1000px;
  height: 40px;
  width: 40px;

  i {
    background-color: rgba(black, 0.15);
    border-radius: 1000px;
    color: white;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
  }
}

.profile-photo-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 0px;
}