#link-panel {
  .settings-panel {  
    .settings-panel-sections {
      .settings-section {
        &.add-link-section,
        &.links-section {
          .settings-section-content {
            border: none;
            padding: 0px; 
          }
        }

        &.links-section {
          .settings-section-content {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
        }
      }
    }
  }
}