.background-picker {
  overflow: hidden;
  position: relative;

  &.selecting {
    .background-picker-options {
      transform: translateX(0%);
    }
    
    .background-picker-active-option {
      transform: translateX(100%);
    }
  }

  .background-picker-options,    
  .background-picker-active-option {
    transition: transform 0.25s;
  }

  .background-picker-options {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    position: relative;
    transform: translateX(100%);
    z-index: 2;
  }

  .background-picker-active-option {
    bottom: 0px;
    padding: 10px;
    position: absolute;
    right: 0px;
    z-index: 1;
  }

  .background-picker-option {
    border: 4px solid gray(240);
    border-radius: 100px;
    box-shadow: $shadow3;
    cursor: pointer;
    height: 100px;
    outline: none;
    padding: 0px;
    width: 100px;

    &.active {
      border-color: $themeColor;
    }

    .loadable-image {
      background-position: center;
      background-size: cover;
      border-radius: 100px;
      height: 100%;
      width: 100%;
    }
  }
}

@media(max-width: 1200px) {
  .background-picker {
    .background-picker-option {
      height: 64px;
      width: 64px;
    }
  }
}