#sign-up-form {
  width: 100%;

  .sign-in-label {
    color: white;
    margin-top: 1em;

    a {
      color: $themeColor;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}