#settings-toolbar-outer-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0px 10px;
  pointer-events: none;
  position: fixed;
  top: 80px;
  width: calc(100% - 20px);
  z-index: 3;

  #settings-toolbar-inner-wrapper {
    align-items: center;
    display: flex;
    gap: 10px;
    width: 500px;

    #settings-toolbar {
      backdrop-filter: blur(5px);
      background-color: rgba(white, 0.1);
      border-radius: 6px;
      box-shadow: $shadow1;
      display: flex;
      gap: 10px;
      padding: 5px;
      pointer-events: all;

      .settings-toolbar-option {
        &.selected {
          backdrop-filter: blur(3px);
          background-color: rgba(white, 0.05);
      
          i {
            color: $themeColor;
          }
        }

        i {
          font-size: 1.5em;
          height: 40px;
          line-height: 40px;
          width: 40px;
        }
      }
    }

    #settings-toolbar-tutorial-toggle {
      pointer-events: all;

      i {
        font-size: 1em;
        height: 30px;
        line-height: 30px;
        width: 30px;
      }
    }
  }
}

@media(max-width: 600px) {
  #settings-toolbar-outer-wrapper {
    #settings-toolbar-inner-wrapper {
      width: 100%;
    }
  }
}