@import "./components/unsplashPhotoPickerCategory/unsplashPhotoPickerCategory.scss";
@import "./components/unsplashPhotoPickerOption/unsplashPhotoPickerOption.scss";

.unsplash-photo-picker {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-height: 100px;
  position: relative;

  .unsplash-photo-picker-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
  
  .unsplash-photo-picker-options {
    animation: fadeIn 400ms ease-in;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));  
  }
}

@media (max-width: 600px) {
  .unsplash-photo-picker {
    .unsplash-photo-picker-options {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));  
    }
  }
}