.settings-section {
  background-color: gray(30);
  border-radius: 6px;
  box-shadow: $shadow1;
  padding: 15px;

  .settings-section-label {
    color: white;
    font-size: 1.25em;
    margin-bottom: 10px;
  }

  .settings-section-content {
    border: 1px solid rgba(white, 0.15);
    border-radius: 6px;
    padding: 10px;
  }
}