#auth-page {
  .auth-page-error-message-wrapper {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
    right: 0px;
    width: 100%;
    z-index: 2;

    .auth-page-error-message {
      animation: fadeInDown 400ms ease-in;
      padding-right: 20px;
      width: 400px;
      
      h1 {
        color: white;
        font-size: 1.5em;
      }

      .link {
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 500px) {
  #auth-page {
    .auth-page-error-message-wrapper {
      align-items: flex-start;
      height: auto;
      margin-top: 120px;
      
      .auth-page-error-message {
        padding: 0px 20px;
        width: 100%;
      }
    }
  }
}