.link-item {
  background: linear-gradient(to right, rgba(white, 0.05), transparent);
  border: 1px solid rgba(white, 0.25);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}