#auth-page-background {
  #auth-page-background-svg {
    height: 100vh;
    left: 0px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0px;
    width: 50vw;
    z-index: 1;
  }
}

@media (max-width: 1200px) {
  #auth-page-background {
    #auth-page-background-svg {
      width: 100vw;
    }
  }
}