#navbar {
  align-items: center;
  display: flex;
  left: 0px;
  height: 60px;
  justify-content: center;
  padding: 10px;
  pointer-events: none;
  position: fixed;
  top: 0px;
  width: calc(100% - 20px);
  z-index: 100000;

  .logo {
    animation: fadeInDown 400ms ease-in;
    pointer-events: all;
  }

  .sign-in-link {
    align-items: center;
    animation: fadeInRight 400ms ease-in;
    border-radius: 6px;
    color: white;
    display: flex;
    height: 20px;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    pointer-events: all;
    position: absolute;
    right: 0px;
    top: 0px;
    text-decoration: none;

    &:hover,
    &:focus {
      backdrop-filter: blur(5px);
      background-color: rgba(white, 0.1);
    }
  }
}