#sign-in-page {
  #sign-in-form {
    justify-content: flex-end;

    .auth-form {
      animation: fadeInRight 400ms ease-in;
    }
  }
}

@media (max-width: 500px) {
  #sign-in-page {
    #sign-in-form {
      .auth-form {
        animation: fadeInDown 400ms ease-in;
      }
    }
  }
}