#profile-page {
  height: 100vh;
  overflow: hidden;

  #profile-page-username-wrapper {
    align-items: center;
    bottom: 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: absolute;
    width: 100%;
    z-index: 10;

    .profile-username {      
      font-size: 2em;

      &:hover,
      &:focus {
        text-shadow: 0px 0px 8px rgba(white, 0.5);
      }
    }
  }
}