@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes spinAndScale {
  from {
    transform: rotate(0deg) scale(0.75);
  }

  50% {
    transform: rotate(720deg) scale(1.25);
  }

  to {
    transform: rotate(1440deg) scale(0.75);
  }
}