.button {
  background-color: $themeColor;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 1.25em;
  outline: none;
  padding: 15px;
  width: 100%;

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    background-color: $themeColorFocused;
    cursor: pointer;
  }

  &:not(:disabled):active {
    transform: scale(0.99);
  }

  h1 {
    color: white;
  }
}