.link-item {
  background-color: rgba(white, 0.05);
  border: 1px solid rgba(white, 0.15);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;

  .link-item-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
  }

  .link-item-actions {
    border-top: 1px solid rgba(white, 0.25);
    display: flex;
    gap: 10px;
    padding-top: 10px;

    .link-item-action {
      backdrop-filter: blur(3px);
      background-color: rgba(white, 0.05);
      padding: 10px;
    }
  }
}