.page {  
  background-color: gray(40);
  min-height: 100vh;
  overflow: hidden;

  #page-loading-spinner {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
  }
}