@import "./scss/colors.scss";
@import "./scss/fonts.scss";
@import "./scss/animations.scss";

@import "./pages/pages.scss";

@import "./components/app/app.scss";
@import "./components/button/button.scss";
@import "./components/commandLine/commandLine.scss";
@import "./components/creatorGridBackground/creatorGridBackground.scss";
@import "./components/form/form.scss";
@import "./components/imagePicker/imagePicker.scss";
@import "./components/input/input.scss";
@import "./components/linkManager/linkManager.scss";
@import "./components/loadableImage/loadableImage.scss";
@import "./components/loading/loading.scss";
@import "./components/logo/logo.scss";
@import "./components/mainMenu/mainMenu.scss";
@import "./components/modal/modal.scss";
@import "./components/navbar/navbar.scss";
@import "./components/page/page.scss";
@import "./components/profileBackground/profileBackground.scss";
@import "./components/profileImage/profileImage.scss";
@import "./components/profileHeader/profileHeader.scss";
@import "./components/profileUsername/profileUsername.scss";
@import "./components/signInForm/signInForm.scss";
@import "./components/signUpForm/signUpForm.scss";
@import "./components/socialPlatformNetwork/socialPlatformNetwork.scss";
@import "./components/socialPlatformPicker/socialPlatformPicker.scss";
@import "./components/statusMessage/statusMessage.scss";
@import "./components/svgBackground/svgBackground.scss";

html,
body {
  margin: 0px;
  min-height: 100vh;
  padding: 0px;
  width: 100%;
}

h1,
p,
a,
span,
button,
input,
textarea,
select,
option,
th,
td {
  color: gray(100);
  font-size: 1em;
  margin: 0px;
}

.scroll-bar {
  &.light {
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(white, 0.5);
    }
  }

  &::-webkit-scrollbar-track {
    background-color: gray(30);
  }

  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: gray(60);
    border-radius: 10px;
  }
}