.update-account-modal-wrapper {
  .modal {    
    .update-account-modal-header {
      align-items: center;
      display: flex;
      padding: 10px;

      .update-account-modal-title {
        color: white;
        flex-grow: 1;
        font-size: 1.25em;
      }
    }

    .update-account-modal-content {
      background-color: gray(30);
      border-radius: 6px;
      box-shadow: $shadow3;
      min-height: 30px;
      padding: 10px;

      .current-email {
        margin-bottom: 10px;
      }

      .form {
        .form-body {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .update-account-label {
            color: white;
            font-size: 1.25em;
          }
        }
      }
    }
  }
}