#home-page {
  .brand-statement,
  .getting-started-wrapper {
    height: 100vh;
  }
}

@media (max-height: 600px) {
  #home-page {
    .getting-started-wrapper {
      height: auto;
      margin-top: 80px;
    }
  }
}
