#home-page {
  #home-page-sign-in {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: flex-end;
    position: relative;
    right: 0px;
    width: 100%;
    z-index: 2;

    #sign-in-form {
      animation: fadeInRight 400ms ease-in;
      padding-right: 20px;
      width: 400px;
    }
  }
}

@media (max-width: 500px) {
  #home-page {
    #home-page-sign-in {
      align-items: flex-start;
      height: auto;
      margin-top: 120px;
      
      #sign-in-form {
        animation: fadeInDown 400ms ease-in;
        padding: 0px 20px;
        width: 100%;
      }
    }
  }
}