#link-settings-panel {
  .settings-panel {  
    .settings-panel-sections {
      .settings-section {
        &.links-section {
          .settings-section-content {
            background-color: transparent;
            backdrop-filter: none;
            border: none;
            padding: 0px; 
          }
        }
      }
    }
  }
}